@model BasicLINQweb.Models.Category
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2 border">
            <h3 class="text-center">Create Cateogroy</h3>
            <hr />
            <form asp-controller="Category" asp-action="Create" method="post">
                <div>
                    <label asp-for="CategoryName" class="form-label"></label>
                    <input asp-for="CategoryName" type="text" class="form-control"/>
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="text-center m-3">
                    <button type="submit" class="btn btn-sm btn-outline-success">Save</button>
                    <button type="reset" class="btn btn-sm btn-outline-info">Reset</button>
                    <a asp-action="Index" class="btn btn-sm btn-outline-primary">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}